* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Google Sans", sans-serif;
}

main {
    section.hero {
        padding: 3rem 1rem;

        .text-media {
            display: grid;
            gap: 1rem;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            max-width: 1200px;

            .left-text {
                padding-left: 4rem;

                h1 {
                    font-size: 4.5rem;
                    font-size: clamp(1.8rem, 4vw, 4rem);
                }
            }

            .right-media {

                img {
                    width: 100%;
                    max-width: 500px;
                }
            }
        }

        .below-ceneterText {
            display: flex;
            margin: 3rem auto;
            text-align: center;
            max-width: 900px;
            padding-top: 4rem;

            h2 {
                font-family: "Google Sans Flex", sans-serif;
                font-size: clamp(1rem, 2.5vw, 2.2rem);
                font-weight: 300 !important;
                line-height: 43px;
                font-size: 1.5rem;
            }
        }
    }

    section.view1 {
        .cards {
            display: flex;
            gap: 1rem;
            padding: 2rem;

            .card1 {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                border-top: 0.4rem solid #E8EAED;
                width: 33.33%;
                padding: 1.5rem;

                h1 {
                    margin-top: 0.3rem;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    section.view2 {
        width: 100%;

        .community-part {
            display: flex;
            justify-content: center;
            gap: 3rem;
            align-items: center;
            padding: 2rem;
            width: 100%;

            .text-part {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding-left: 4rem;
                gap: 1.2rem;

                h4 {
                    color: #4A4A4A;
                    font-size: 1.5rem;
                    line-height: 1;
                }

                h1 {
                    font-size: 4rem;
                }

                p {
                    font-size: 1.5rem;
                    color: #4A4A4A;
                }

                .buttons {
                    display: flex;
                    align-items: center;
                    gap: 2rem;

                    .join {
                        height: 2.5rem;
                        width: 15rem;
                        background-color: transparent;
                        border: 2px solid #0468D7;
                        font-weight: bolder;
                        color: #0468D7;
                        border-radius: 1rem;
                        font-weight: 400 !important;
                        font-size: 1rem;
                    }

                    .join:hover {
                        background-color: #0468D7;
                        color: white;
                        transition: all ease 0.5s;
                    }

                    .more {
                        height: 2.5rem;
                        width: 15rem;
                        background-color: transparent;
                        font-size: 1rem;
                        border: none;
                        font-weight: bolder;
                    }
                }
            }

            .community {
                width: 100%;
            }
        }
    }
}


@media (max-width: 576px) {
    main {
        section.hero {
            .text-media {
                display: flex;
                max-width: 1200px;
                gap: 1rem;
                margin: 0 auto;
                flex-direction: column-reverse;
                align-items: center;

                .right-media {
                    img {
                        max-width: 450px;
                    }
                }

                .left-text {
                    max-width: 300px;
                    text-align: center;
                    padding-left: 0;
                }
            }

            .below-ceneterText {
                padding: 0.7rem;
            }
        }

        section.view1 {
            .cards {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding: 1rem;

                .card1 {
                    width: 100%;
                    max-width: 450px;
                    padding: 1.5rem;
                    border-top: 0.3rem solid #E8EAED;

                    img {
                        width: 100%;
                        max-width: 100%; // IMPORTANT FIX
                        height: auto;
                    }
                }
            }
        }

        section.view2 {
            .community-part {
                max-width: 450px;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                font-size: clamp(2.5rem, 4vw, 4rem);

                .text-part {
                    width: 100%;
                    padding: 0;
                    h1{
                        font-size: clamp(2.5rem, 4vw, 4rem);
                    }

                }

                .buttons {
                    display: flex;
                    justify-content: left;
                    flex-direction: column;
                    font-size: clamp(3rem, 4vw, 4rem);
                }
                .community{
                    max-width: 450px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}